-- Create rooms table and add room foreign key to sessions
-- This enables room-based architecture where sessions belong to rooms

-- Create rooms table
CREATE TABLE IF NOT EXISTS rooms (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  code TEXT UNIQUE NOT NULL,
  name TEXT,
  description TEXT,
  host_uid TEXT NOT NULL,
  settings JSONB NOT NULL DEFAULT '{}'::jsonb,
  is_active BOOLEAN DEFAULT true,
  created_at TIMESTAMPTZ NOT NULL DEFAULT now(),
  updated_at TIMESTAMPTZ NOT NULL DEFAULT now()
);

-- Add room_id to main sessions table
ALTER TABLE sessions 
ADD COLUMN IF NOT EXISTS room_id UUID REFERENCES rooms(id) ON DELETE CASCADE;

-- Add room_id to top_comment_sessions table  
ALTER TABLE top_comment_sessions
ADD COLUMN IF NOT EXISTS room_id UUID REFERENCES rooms(id) ON DELETE CASCADE;

-- Create indexes
CREATE INDEX IF NOT EXISTS idx_rooms_code ON rooms(code);
CREATE INDEX IF NOT EXISTS idx_rooms_host ON rooms(host_uid);
CREATE INDEX IF NOT EXISTS idx_sessions_room_id ON sessions(room_id);
CREATE INDEX IF NOT EXISTS idx_top_comment_sessions_room_id ON top_comment_sessions(room_id);

-- Enable RLS on rooms table
ALTER TABLE rooms ENABLE ROW LEVEL SECURITY;

-- RLS policies for rooms
CREATE POLICY \
Anyone
can
read
active
rooms\
  ON rooms FOR SELECT
  USING (is_active = true);

CREATE POLICY \Authenticated
users
can
create
rooms\
  ON rooms FOR INSERT
  TO authenticated, anon
  WITH CHECK (true);

CREATE POLICY \Hosts
can
update
their
rooms\
  ON rooms FOR UPDATE
  USING (host_uid = auth.uid()::text);

CREATE POLICY \Hosts
can
delete
their
rooms\
  ON rooms FOR DELETE
  USING (host_uid = auth.uid()::text);

-- Update unique code function to work with rooms
CREATE OR REPLACE FUNCTION ensure_unique_code()
RETURNS TEXT
LANGUAGE plpgsql
AS \$\$
DECLARE
    new_code TEXT;
    code_exists BOOLEAN;
    max_attempts INTEGER := 100;
    attempts INTEGER := 0;
BEGIN
    LOOP
        -- Generate a 6-character uppercase code
        new_code := upper(substring(gen_random_bytes(3)::text, 3, 6));
        
        -- Remove any non-alphanumeric characters and ensure it's exactly 6 chars
        new_code := regexp_replace(new_code, '[^A-Z0-9]', '', 'g');
        IF length(new_code) < 6 THEN
            CONTINUE;
        END IF;
        new_code := substring(new_code, 1, 6);
        
        -- Check if code exists in rooms, sessions, or top_comment_sessions tables
        SELECT EXISTS(
            SELECT 1 FROM rooms WHERE code = new_code
            UNION
            SELECT 1 FROM sessions WHERE code = new_code
            UNION
            SELECT 1 FROM top_comment_sessions WHERE code = new_code
        ) INTO code_exists;
        
        IF NOT code_exists THEN
            EXIT;
        END IF;
        
        attempts := attempts + 1;
        IF attempts >= max_attempts THEN
            RAISE EXCEPTION 'Failed to generate unique code after % attempts', max_attempts;
        END IF;
    END LOOP;
    
    RETURN new_code;
END;
\$\$;

-- Function to create a room with session
CREATE OR REPLACE FUNCTION create_room_with_session(
    p_host_uid TEXT,
    p_room_name TEXT DEFAULT NULL,
    p_room_description TEXT DEFAULT NULL,
    p_session_settings JSONB DEFAULT '{}'::jsonb
)
RETURNS TABLE(room_id UUID, session_id UUID, room_code TEXT) AS \$\$
DECLARE
    v_room_id UUID;
    v_session_id UUID;
    v_room_code TEXT;
BEGIN
    -- Generate unique room code
    v_room_code := ensure_unique_code();
    
    -- Create room
    INSERT INTO rooms (code, name, description, host_uid)
    VALUES (v_room_code, p_room_name, p_room_description, p_host_uid)
    RETURNING id INTO v_room_id;
    
    -- Create session linked to room
    INSERT INTO sessions (code, host_uid, room_id, settings)
    VALUES (v_room_code, p_host_uid, v_room_id, p_session_settings)
    RETURNING id INTO v_session_id;
    
    RETURN QUERY SELECT v_room_id, v_session_id, v_room_code;
END;
\$\$ LANGUAGE plpgsql SECURITY DEFINER;

-- Enable realtime for rooms
ALTER PUBLICATION supabase_realtime ADD TABLE rooms;
